@font-face {
  font-family: "HankenGrotesk";
  src: url("/assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
}

html {
  width: 100%;
  height: 100%;
  background-color: white;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

app-root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
